.navbar .login-btn {
    position: absolute;

    right: 15px;
}

@media (max-width: 767px) {
    .navbar .login-btn {
        right: 75px;
    }
}

html,body{
    height: 100%;
    margin:0px;
    padding:0px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.navbar, .navbar-expand-md, .navbar-dark, .sticky-top {
    position: fixed;
    width: 100%;
    top: 0;
}

#login .container #login-row #login-column #login-box {
    margin-top: 60px;

    height: 400px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 30px;
}


#registration .container #registration-row #registration-column #registration-box {
    margin-top: 30px;

    height: 700px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#registration .container #registration-row #registration-column #registration-box #registration-form {
    padding: 30px;
}

.mcontainer {
    padding-bottom: 50px;
}

#management .container #management-row #management-column #management-box {
    margin-top: 30px;

    max-height: fit-content;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    padding: 20px;
}

#main-header {
    color: #0069d9;
}

.user-management {
    font-size: x-large;
}

.table-users {
    table-layout:fixed;


}

td
{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paddout {
    padding: 30px;
}

.blacked {
    font-weight: 500;
    color: black;
}

.blacked:hover {
    background-color: lightgray;
}

.hyper a{
    color: black;
    text-decoration: none;

}

hyper:hover, hyper:visited, hyper:link, hyper:active {
    text-decoration: none!important;

    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.spacer
{
    width: 100%;
    height: 80px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
